/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    max-width: 500px;
    width: 100%;
  }
}
.navigation-wrap {
  position: fixed;
  top: 0;
  opacity: 0.97;
  width: 100%;
  background-color: #F6F6F6;
  border-bottom: 0.2rem solid #F1F1F1;
}
@media (max-width: 500px) {
  .navigation-wrap {
    width: 100%;
  }
}
.navigation-wrap nav {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation-wrap nav h1 {
  font-size: 4.2rem;
  margin: 1rem 0;
}
@media (max-width: 500px) {
  .navigation-wrap nav h1 {
    font-size: 4rem;
  }
}
.navigation-wrap nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 65%;
  padding: 1rem 0;
}
@media (max-width: 500px) {
  .navigation-wrap nav ul {
    width: 100%;
  }
}
.navigation-wrap nav a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #454A59;
}
@media (max-width: 500px) {
  .navigation-wrap nav a {
    font-size: 1.3rem;
    font-weight: 600;
  }
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 2rem 0;
  border: 0.1rem double #e0e0e0;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home {
  margin-top: 10rem;
}
@media (max-width: 500px) {
  .home {
    margin-top: 9.5rem;
  }
}
.home .intro img {
  border-radius: 0.5rem;
  width: 100%;
}
@media (max-width: 500px) {
  .home .intro img {
    width: 100%;
  }
}
.home .intro h2 {
  padding: 1.5rem;
}
.home .intro p {
  padding: 0 1.5rem;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .space-images img {
  width: 28%;
  margin: 2rem 2.5%;
  border-radius: 2rem;
  height: 100%;
}
@media (max-width: 500px) {
  .home .space-images img {
    width: 100%;
  }
  .home .space-images img.sky,
  .home .space-images img.launch {
    display: none;
  }
}
.home .visit-planets {
  padding: 1.5rem;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 6rem;
  border-top: 0.1rem solid #dee2e6;
  padding: 5rem 6rem;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .walk {
    display: flex;
    flex-direction: column-reverse;
    padding: 1.5rem;
    margin-top: 1rem;
  }
}
.home .walk .walk-text {
  width: 50%;
}
@media (max-width: 500px) {
  .home .walk .walk-text {
    width: 100%;
  }
}
.home .walk .walk-text h3 {
  margin-bottom: 1rem;
}
.home .walk .walk-text p {
  margin-bottom: 2.6rem;
}
.home .walk .walk-text .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #22283A;
  color: #F6F6F6;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1rem;
  width: 10rem;
  border-radius: 0.5rem;
  transition: 0.7s ease-in-out;
}
.home .walk .walk-text .btn:hover {
  background-color: #bd3a3a;
  color: #ddd124;
  transition: 0.7s ease-in-out;
  cursor: pointer;
}
@media (max-width: 500px) {
  .home .walk .walk-text .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #22283A;
    color: #F6F6F6;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 2.4rem;
    width: 100%;
    border-radius: 0.5rem;
    transition: 0.7s ease-in-out;
  }
  .home .walk .walk-text .btn:hover {
    background-color: #bd3a3a;
    color: #ddd124;
    transition: 0.7s ease-in-out;
    cursor: pointer;
  }
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width: 500px) {
  .home .walk .walk-img {
    width: 100%;
    margin: 1rem 0;
  }
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}
